@keyframes anim {
	from {transform: translateY(-100%);}
	to {transform: translateY(0);}
}
@keyframes op {
	from {opacity: 1;}
	to {opacity: 0;}
}
.load,
.load * {
	padding-left: 0;
	color: transparent !important;
	border-color: transparent !important;
}
.load .art-text> :firstchild::after {
	background-color: transparent;
}

.scrolled-menu {
	animation: anim 0.3s;
}
.op-menu {
	animation: op 0.2s;
}